*{
	padding: 0;
	margin: 0;
}
body{
	min-width: 1100px;
}
.main{
	background: linear-gradient(to top,rgb(7,3,9),rgb(65,26,75));
	width: 100%;
	height: 700px;
}
.logo_one{
	position: absolute;
	top: 40px;
	left: 80px;
	background-color: rgb(205,163,22);
	width: 140px;
	height: 40px;
}
.logo_two{
	width: 140px;
	position: absolute;
	top: 40px;
	left: 160px;
}
.circle_big{
	width: 480px;
	height: 480px;
	border-radius: 240px;
	position: relative;
	left: 80%;
	top: -250px;
	background:linear-gradient(to bottom,rgb(83,33,65),rgb(45,18,20)) ;
}
.circle_bg{
	width: 336px;
	height: 336px;
	border-radius: 168px;
	background-color: rgb(51,21,26);
	position: relative;
	bottom: 300px;
    margin: auto auto;
}
.circle_main{
	width: 300px;
	height: 300px;
	border-radius: 150px;
	background-color: rgb(228,94,1);
	margin: auto auto;
}
